@font-face {
  font-family: "Moderustic"; /* Название, которое вы будете использовать в коде */
  src: url("/Moderustic-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Чтобы текст не пропадал во время загрузки */
}
@font-face {
  font-family: "Moderustic"; /* Название, которое вы будете использовать в коде */
  src: url("/public/Moderustic-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap; /* Чтобы текст не пропадал во время загрузки */
}

@font-face {
  font-family: "Pobeda"; /* Название, которое вы будете использовать в коде */
  src: url("/OBS.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Чтобы текст не пропадал во время загрузки */
}

@font-face {
  font-family: "Pobeda"; /* Название, которое вы будете использовать в коде */
  src: url("/OBS.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Чтобы текст не пропадал во время загрузки */
}
@font-face {
  font-family: "LunaObscura"; /* Название, которое вы будете использовать в коде */
  src: url("/OBS.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Чтобы текст не пропадал во время загрузки */
}
