@import './fonts.css';
@import 'tailwindcss';

:root {
	--col-bl: 20, 20, 20;
	--col-bg: 249, 249, 249;
	--col-bg2: 244, 244, 244;
}

@theme {
	--font-sans: 'Moderustic', ui-sans-serif, system-ui;
	--font-display: 'Unbounded', ui-sans-serif, system-ui;
	--text-h1: 2.5rem; /* 32px */

	/* Коэффициент масштабирования (Scale Factor) — 1.25 (Major Third) */
	--ratio: 1.25;
	--spacing-header: 69px;

	--text-h2: calc(var(--text-h1) / var(--ratio));
	--text-h3: calc(var(--text-h2) / var(--ratio));
	--text-h4: calc(var(--text-h3) / var(--ratio));
	--text-h5: calc(var(--text-h4) / var(--ratio));
	--text-h6: calc(var(--text-h5) / var(--ratio));

	--text-p: 1rem; /* Базовый текст (16px) */
	--text-span: 0.875rem; /* Чуть меньше (14px) */

	--sp-max: 3rem; /* 48px */

	--spacing-2xs: calc(var(--sp-max) * 0.062); /* 1/16 */
	--spacing-xs: calc(var(--sp-max) * 0.125); /* 1/8 */
	--spacing-sm: calc(var(--sp-max) * 0.25); /* 1/4 */
	--spacing-md: calc(var(--sp-max) * 0.5); /* 1/2 */
	--spacing-lg: var(--sp-max); /* 100% */
	--spacing-xl: calc(var(--sp-max) * 2); /*  1 * 2*/
	--spacing-2xl: calc(var(--sp-max) * 4); /*  1 * 4*/

	--color-bg: rgb(var(--col-bg));
	--color-bg2: rgb(var(--col-bg2));
	--color-black: rgb(var(--col-bl));
	--color-black2: rgba(var(--col-bl), 0.6);
	--color-border: #e9e9e9;
	--color-btn-hover: rgba(0, 0, 0, 0.03);
}

@media (max-width: 1388px) {
	html {
		/* Уменьшаем базу с 16px до 14px */
		font-size: 95%;
	}
	:root {
		/* --ratio: 1.1; */
	}
}

@media (max-width: 768px) {
	html {
		font-size: 80%;
	}
	:root {
		--spacing-header: 55px;
	}
}

@layer base {
	body {
		@apply bg-bg text-black;
	}
	h1 {
		@apply text-h1 font-bold tracking-tight font-display leading-[1.1];
	}
	h2,
	h2 span {
		@apply text-h2 font-bold tracking-tight font-display leading-[1.1];
	}
	h3 {
		@apply text-h3 font-semibold font-display leading-[1.1];
	}
	h4,
	h4 span {
		@apply text-h4 font-semibold font-display;
	}
	h5 {
		@apply text-h5 font-medium font-display;
	}
	h6 {
		@apply text-h6 font-medium font-display;
	}

	p.title {
		@apply text-h5 font-bold;
	}

	p,
	p span {
		@apply text-p leading-[1.2];
	}
	span {
		@apply text-span;
	}

	:root {
		--spacing-max: 2rem; /* На мобилках меньше */
	}
	@media (min-width: 1024px) {
		:root {
			--spacing-max: 4rem; /* На десктопах больше */
		}
	}

	@media (max-width: 768px) {
		:root {
			h2,
			h2 span {
				font-size: 20px;
			}
			h3,
			h3 span {
				font-size: 16px;
			}
		}
	}
}

@layer components {
	.btn {
		@apply relative flex items-center w-max font-display tracking-tight py-sm px-md text-black;
		--space: 4px;
	}
	.btn.black,
	.btn.active {
		@apply text-bg bg-black;
	}
	.btn span,
	.input-wrapper span {
		@apply h-0.5 w-0.5 flex border-transparent transition-transform;
	}
	.btn:hover span,
	input:focus ~ span,
	textarea:focus ~ span {
		@apply h-2 w-2;
	}
	.btn span:first-child,
	.link span:first-child {
		@apply absolute top-0 left-0 border-t-black border-l-black border;
	}
	.btn span:nth-child(2),
	.link span:nth-child(2) {
		@apply absolute top-0 right-0 border-t-black border-r-black border;
	}
	.btn span:nth-child(3),
	.link span:nth-child(3) {
		@apply absolute bottom-0 left-0 border-l-black border-b-black border;
	}
	.btn span:nth-child(4),
	.link span:nth-child(4) {
		@apply absolute bottom-0 right-0 border-b-black border-r-black border;
	}
	.btn:hover span:first-child {
		@apply -translate-y-[var(--space)] -translate-x-[var(--space)];
	}
	.btn:hover span:nth-child(2) {
		@apply -translate-y-[var(--space)] translate-[var(--space)];
	}
	.btn:hover span:nth-child(3) {
		@apply translate-y-[var(--space)] -translate-[var(--space)];
	}
	.btn:hover span:nth-child(4) {
		@apply translate-y-[var(--space)] translate-[var(--space)];
	}
	.btn.biggest {
		@apply py-4 px-8 text-lg;
	}
	.btn.small {
		@apply flex justify-center p-0 w-9 h-8.5 transition-colors leading-7.5;
	}
	.btn.small span {
		@apply h-1 w-1;
	}
	.btn.link {
		@apply text-p md:text-xs 2xl:text-span xl:max-2xl:px-sm;
		--space: 0;
	}
	.input-wrapper {
		@apply relative;
		--space: 0;
	}
	.btn.link:hover {
		@apply bg-btn-hover;
	}
	.btn.link.black:hover,
	.btn.link.active:hover {
		@apply bg-black text-bg;
	}
	.btn.link:hover span,
	textarea:focus ~ span,
	input:focus ~ span {
		@apply opacity-100;
	}
	.btn.link span,
	.input-wrapper span {
		@apply transition-all opacity-0;
	}

	.svg-link {
		@apply w-3.5 h-3.5 ml-xs stroke-1;
	}

	.wrapper {
		@apply max-w-7xl px-md mx-auto;
	}
	.main-wrapper {
		@apply px-md lg:px-lg 2xl:px-xl;
	}
	input,
	textarea {
		@apply bg-bg2 min-h-lg w-full px-sm py-sm outline-0;
	}
	label {
		@apply w-full flex flex-col;
	}
	label p {
		@apply mb-sm;
	}
	textarea {
		@apply min-h-xl resize-none flex;
	}

	.link-short {
		@apply underline;
	}
	.big-space {
		@apply py-lg md:py-2xl;
	}
}

html {
	scroll-behavior: smooth !important;
	overflow-y: auto;
	scroll-padding-top: var(--spacing-header);
}

body.menu-opened {
	overscroll-behavior: none;
	touch-action: none;
}

.header-adv {
	@apply grid md:gap-xs;
}
.header-adv li span {
	@apply font-display font-bold text-lg min-w-16 leading-[1.2];
}
#header {
	--alpha: 0;
	background-color: rgba(var(--col-bg), var(--alpha));
	border-bottom-color: rgba(var(--col-bg2), var(--alpha));
}
navs > a {
	@apply opacity-0;
	backface-visibility: hidden;
}
.navs-wrapper {
	@apply flex md:gap-2 items-end flex-1 md:justify-between fixed md:static max-md:flex-col top-13.75 inset-0
 max-md:pointer-events-none max-md:select-none;
}
.navs-wrapper.opened {
	@apply pointer-events-auto select-auto;
}
navs {
	@apply flex flex-col flex-1 max-md:justify-end items-end md:flex-row 2xl:gap-2 max-md:w-full max-md:bg-bg
 max-md:opacity-0 max-md:pb-sm;
}
.header-contacts {
	@apply flex items-end max-md:flex-1 md:gap-2 max-md:flex-col md:translate-x-md max-md:py-sm max-md:bg-bg2 max-md:w-full
 max-md:opacity-0;
}

[data-ai='0'],
[data-ai='1'],
[data-ai='1.1'],
[data-ai='2'],
[data-ai='3'],
[data-ai='4'] {
	@apply opacity-0 will-change-transform;
}
[data-ai='1'] {
	@apply max-md:origin-bottom-right;
}
[data-ai='1.1'] {
	@apply max-md:origin-top-right;
}
.header-adv li {
	@apply flex gap-sm items-end;
}

@keyframes scroll-animation {
	0% {
		transform: translateY(150%);
	}
	100% {
		transform: translateY(-150%);
	}
}
.scroll-animation {
	@apply h-full w-0.5 bg-bg2 mr-1 relative overflow-hidden;
}
.scroll-animation + p {
	@apply text-sm;
}
.scroll-animation span {
	@apply bg-black flex w-full h-xl;
	animation: scroll-animation 5s linear infinite;
}
.h1Box h2 [data-char],
.h1Box p [data-char],
#header-button {
	@apply will-change-transform opacity-0;
}

@keyframes contacts-animation {
	0%,
	70% {
		transform: translate(0px, 0px);
	}
	40% {
		transform: translate(5px, -5px);
	}
}

a:hover .svg-link {
	animation: contacts-animation 3s linear infinite;
}
.header-logo {
	@apply flex h-11 text-black mr-xl max-md:opacity-100 w-9;
}

.hamb {
	@apply flex items-center min-h-full uppercase font-display font-bold md:hidden;
}
.hamb-inner {
	@apply overflow-hidden max-h-[12px] flex flex-col items-end;
}
.hamb-open,
.hamb-close {
	@apply leading-[0.9];
}

@keyframes anim1 {
	0%,
	100% {
		transform: rotateZ(41deg) skewX(42deg);
	}
	50% {
		transform: rotateZ(41deg) skewX(-49deg);
	}
}

.anim1 {
	transform-origin: bottom left relative;
}
.anim1 path {
	transform-origin: 17.78px 27.31px;
}

.anime22 path {
	@apply opacity-0;
}
.loading-wrapper {
	@apply origin-center;
}
.loading-inner {
	@apply origin-bottom;
}

.loader.closed {
	@apply pointer-events-none select-none;
}

.modal {
	@apply fixed z-11 inset-0 flex items-center justify-center pointer-events-none select-none opacity-0 px-md;
	--alpha: 0;
	background-color: rgba(var(--col-bl), var(--alpha));
}
.modal.opened {
	@apply z-11 pointer-events-auto select-auto opacity-100;
}

.modal-wrapper {
	@apply translate-y-10 opacity-0;
}
.modal-inner {
	@apply bg-bg py-lg px-lg max-w-3xl;
}
[data-modal-anim='1'],
[data-modal-anim='2'] {
	@apply opacity-0;
}
.modal h4 [data-char] {
	@apply opacity-0;
}

.logotype-carousel svg {
	@apply w-full h-12;
}
.logotype-carousel img {
	@apply h-full object-cover saturate-0 flex;
}
.logotype-carousel a {
	@apply bg-bg px-md w-max h-12 flex items-center;
}
.logotype-carousel {
	@apply relative max-md:pt-md;
}
.logotype-carousel::after,
.logotype-carousel::before {
	@apply bg-linear-90 from-20% from-bg to-transparent absolute top-0 left-0 h-full w-md lg:w-2xl z-2 pointer-events-none select-none;
	content: '';
}
.logotype-carousel::after {
	@apply rotate-y-180 left-auto right-0;
}

.embla-viewport {
	@apply overflow-x-hidden py-1;
}

.embla-container {
	@apply flex will-change-transform;
	touch-action: pan-y pinch-zoom;
}

.canvas-wrapper {
	@apply absolute max-md:left-0 right-0 bottom-0 w-[75%] h-svh max-lg:w-full overflow-hidden opacity-0 transition-opacity duration-1000;
}
.canvas-wrapper.show {
	@apply opacity-100;
}
.canvas-wrapper canvas {
	@apply w-full h-full bg-transparent! md:translate-x-20;
}

/*CARD*/
.cards-wrapper {
	@apply grid gap-lg mt-lg;
}
.cards-wrapper.big {
	@apply grid grid-cols-1 md:grid-cols-[repeat(auto-fit,minmax(600px,1fr))] gap-xl;
}
.card {
	@apply flex flex-col gap-md;
}
.card-content {
	@apply flex flex-col gap-md;
}
.card-box {
	@apply flex gap-md md:gap-lg max-md:justify-between;
}
.card-left {
	@apply flex flex-col gap-xs max-md:justify-end;
}
.card-right {
	@apply flex flex-col gap-md;
}
.card-price {
	@apply flex gap-2xs;
}
.card-img {
	@apply flex items-center justify-center p-md overflow-hidden bg-bg2 h-120;
}
.card-img img {
	@apply w-full h-full object-contain shrink-0;
}
.card-variant,
.card-term {
	@apply flex items-center gap-xs;
}
.card-term {
	@apply max-md:-mt-1.5 mt-auto;
}
.card-variant-btns {
	@apply grid grid-cols-3 gap-2xs w-max;
}
.card-text-info {
	@apply text-black2;
}
.card-price p:last-child {
	@apply font-display max-md:text-lg font-bold;
}
.card-variant button {
	@apply w-6 h-6 bg-bg2;
}
.card-desc {
	@apply flex-1;
}
.card .embla {
	--slide-size: 100%;
}
.embla .embla__slide {
	flex: 0 0 var(--slide-size);
	min-width: 0;
}

/*SLIDER*/
.slider {
	/*--items: 1;*/
	--slide-width: calc((100% - (var(--items) - 1) * var(--gap)) / var(--items));
	@apply w-full;
}
.slider-container {
	overflow: hidden;
}
.slider-track {
	display: flex;
	will-change: auto;
	touch-action: pan-y pinch-zoom;
	margin-left: calc(var(--gap) * -1);
}
.slide {
	flex: 0 0 var(--slide-width);
	padding-left: var(--slide-spacing);
	padding-left: var(--gap);
}
