@import "./fonts.css";
@import "tailwindcss";
@import "./introLogo.css";

:root {
  --col-bl: 20, 20, 20;
  --col-bg: 249, 249, 249;
  --col-bg2: 244, 244, 244;
  --col-ac: #8a3e09;
}
::selection {
  background-color: var(
    --color-accent
  ); /* Changes the highlight background color */
  color: #ffffff; /* Changes the highlighted text color */
}

@theme {
  --font-sans: "Google Sans", ui-sans-serif, system-ui;
  /*--font-sans: 'Moderustic', ui-sans-serif, system-ui;*/
  --font-display: "HS_LunaObscura", ui-sans-serif, system-ui;
  --text-h1: 2rem; /* 32px */

  /* Коэффициент масштабирования (Scale Factor) — 1.25 (Major Third) */
  --ratio: 1.2;
  --spacing-header: 60px;

  --text-h2: calc(var(--text-h1) / var(--ratio));
  --text-h3: calc(var(--text-h2) / var(--ratio));
  --text-h4: calc(var(--text-h3) / var(--ratio));
  --text-h5: calc(var(--text-h4) / var(--ratio));
  --text-h6: calc(var(--text-h5) / var(--ratio));

  --text-p: 1rem; /* Базовый текст (16px) */
  --text-title: 1.1rem; /* Базовый текст (16px) */
  --text-span: 0.875rem; /* Чуть меньше (14px) */

  --sp-max: 3rem; /* 48px */

  --spacing-2xs: calc(var(--sp-max) * 0.062); /* 1/16 */
  --spacing-xs: calc(var(--sp-max) * 0.125); /* 1/8 */
  --spacing-sm: calc(var(--sp-max) * 0.25); /* 1/4 */
  --spacing-md: calc(var(--sp-max) * 0.5); /* 1/2 */
  --spacing-lg: var(--sp-max); /* 100% */
  --spacing-xl: calc(var(--sp-max) * 2); /*  1 * 2*/
  --spacing-2xl: calc(var(--sp-max) * 4); /*  1 * 4*/
  --spacing-wrapper: 1280px;

  --color-bg: rgb(var(--col-bg));
  --color-bg2: rgb(var(--col-bg2));
  --color-black: rgb(var(--col-bl));
  --color-black2: rgba(var(--col-bl), 0.6);
  --color-accent-hover: color-mix(in srgb, var(--col-ac), black 20%);
  --color-accent: var(--col-ac);
  --color-border: #e9e9e9;
  --color-btn-hover: rgba(0, 0, 0, 0.03);
}

html {
  background: var(--color-bg);
  /* background: url("/bg-dot.png"), var(--color-bg); */
  border: none;
  scroll-behavior: smooth !important;
  overscroll-behavior: none;

  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  touch-action: pan-y !important; /* ← БЛОКИРУЕТ боковой bounce */
  scroll-snap-type: y mandatory; /* ← Стабилизирует Safari */
}

body {
  height: 100vh;
  -webkit-overflow-scrolling: touch;
  scroll-padding-top: var(--spacing-header);
  will-change: scroll-position;
}
@layer base {
  /*body {*/
  /*@apply text-black;*/
  /*}*/
  h1,
  h1 span {
    @apply text-h1 font-bold font-display leading-[1.4] tracking-[0.5px];
  }
  h2,
  h2 span {
    @apply text-h2 font-bold font-display leading-[1.4];
  }
  h3,
  h3 span {
    @apply text-h3 font-bold font-display leading-[1.1];
  }
  h4,
  h4 span {
    @apply text-h4 font-bold font-display tracking-wider max-md:leading-[1.6]!;
  }
  h5 {
    @apply text-h5 font-bold font-display tracking-wider;
  }
  h6 {
    @apply text-h6 font-bold font-display tracking-wider;
  }

  p.title,
  p.title span {
    @apply text-title font-display font-bold tracking-wider;
  }

  p,
  p span {
    @apply leading-[1.2];
  }
  span {
    @apply text-span;
  }

  :root {
    --spacing-max: 2rem; /* На мобилках меньше */
  }
  @media (min-width: 1024px) {
    :root {
      --spacing-max: 4rem; /* На десктопах больше */
    }
  }

  @media (max-width: 768px) {
    :root {
      font-size: 80%;
      /*--ratio: 1.3;*/
      --spacing-header: 48px;
      h1,
      h1 span {
        font-size: 16px;
      }
      h2,
      h2 span {
        font-size: 14px;
      }
      h3,
      h3 span {
        font-size: 13px;
      }
      h4 {
        font-size: 12px;
      }
      p.title,
      p.title span {
        font-size: 12px;
      }
      p,
      p.span {
        font-size: 14px;
      }
    }
  }
}

@layer components {
  .btn {
    @apply relative flex items-center w-max font-display py-sm px-md text-black cursor-pointer tracking-wider pb-3.5;
    --space: 4px;
  }
  .btn.disabled {
    @apply opacity-30 cursor-default;
  }
  .btn.black {
    @apply max-md:w-full max-md:justify-center text-p! max-md:text-sm font-bold;
  }
  .btn.black,
  .btn.active {
    @apply text-bg bg-accent;
  }
  .btn.black:hover {
    @apply bg-accent-hover!;
  }
  .btn:hover svg {
    @apply fill-accent-hover;
  }
  .input-wrapper span,
  .btn span,
  .input-wrapper span {
    @apply h-0.5 w-0.5 flex border-transparent transition-transform;
  }
  .btn:hover span,
  input:focus ~ span,
  textarea:focus ~ span {
    @apply h-2 w-2 !border-[1px];
  }
  .input-wrapper span:nth-of-type(1),
  .btn span:nth-of-type(1),
  .link span:nth-of-type(1) {
    @apply absolute top-0 left-0 border-t-accent-hover border-l-accent-hover border-0;
  }
  .input-wrapper span:nth-of-type(2),
  .btn span:nth-of-type(2),
  .link span:nth-of-type(2) {
    @apply absolute top-0 right-0 border-t-accent-hover border-r-accent-hover border-0;
  }
  .input-wrapper span:nth-of-type(3),
  .btn span:nth-of-type(3),
  .link span:nth-of-type(3) {
    @apply absolute bottom-0 left-0 border-l-accent-hover border-b-accent-hover border-0;
  }
  .input-wrapper span:nth-of-type(4),
  .btn span:nth-of-type(4),
  .link span:nth-of-type(4) {
    @apply absolute bottom-0 right-0 border-b-accent-hover border-r-accent-hover border-0;
  }
  .btn:hover span:nth-of-type(1) {
    @apply -translate-y-[var(--space)] -translate-x-[var(--space)];
  }
  .btn:hover span:nth-of-type(2) {
    @apply -translate-y-[var(--space)] translate-[var(--space)];
  }
  .btn:hover span:nth-of-type(3) {
    @apply translate-y-[var(--space)] -translate-[var(--space)];
  }
  .btn:hover span:nth-of-type(4) {
    @apply translate-y-[var(--space)] translate-[var(--space)];
  }
  .btn.biggest {
    @apply py-5 px-8 text-lg font-bold pb-5;
  }
  .btn.biggest p {
    @apply relative;
  }
  .btn.biggest span {
    @apply h-4 w-4;
  }
  .btn.biggest:hover {
    @apply bg-accent!;
  }
  /* .btn.biggest:hover .btnBigWrapper {
    @apply
  } */
  .btnBigWrapper {
    @apply flex flex-col absolute inset-0 gap-px!;
    background: color-mix(
      in srgb,
      var(--color-accent-hover) calc(var(--bg-alpha) * 100%),
      transparent
    ) !important;
  }
  .btnBigWrapperLine {
    @apply flex-1 grid grid-cols-[repeat(auto-fit,minmax(20px,1fr))] justify-self-stretch grid-rows-[1fr] gap-px;
  }
  .btnBigItem {
    @apply bg-accent origin-center min-w-full min-h-full;
  }

  .btn.small {
    @apply flex justify-center text-[12px]! p-0 w-9 h-8.5 transition-colors leading-7.5;
  }
  .btn.small span {
    @apply h-1 w-1;
  }
  .btn.link {
    @apply text-p text-xs max-md:text-span;
    --space: 0;
  }
  .btn.link.inv {
    @apply fill-bg;
  }
  .btn.link.inv span {
    @apply invert;
  }
  .btn.link.inv:hover {
    @apply bg-accent/10;
  }
  .input-wrapper {
    @apply relative font-display tracking-wide;
    --space: 0;
  }
  .btn.link:hover {
    @apply bg-accent/5 text-accent-hover;
  }
  .btn.link.black:hover,
  .btn.link.active:hover {
    @apply bg-accent text-bg;
  }
  .btn.link:hover span,
  textarea:focus ~ span,
  input:focus ~ span {
    @apply opacity-100;
  }
  .btn.link span,
  .input-wrapper span {
    @apply transition-all opacity-0;
  }

  .svg-link {
    @apply flex min-w-2 h-2 mb-1.5 -mr-2.5 ml-xs stroke-1;
  }

  .wrapper {
    @apply max-w-wrapper px-md mx-auto;
  }
  .main-wrapper {
    @apply px-md lg:px-lg 2xl:px-xl;
  }
  input,
  textarea {
    @apply bg-bg2 min-h-lg w-full px-sm py-sm outline-0;
  }
  label {
    @apply w-full flex flex-col;
  }
  label p {
    @apply mb-sm;
  }
  textarea {
    @apply min-h-xl resize-none flex;
  }

  .link-short {
    @apply underline;
  }
  .big-space {
    @apply py-lg md:py-2xl;
  }

  .scrollbar-custom {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: var(--color-black) var(--color-bg2); /* Firefox */
  }

  /* Webkit */
  ::-webkit-scrollbar {
    @apply w-1 h-1;
  }

  ::-webkit-scrollbar-track {
    @apply bg-bg rounded-full;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-300;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-300;
  }
}

body.menu-opened {
  overscroll-behavior: none;
  touch-action: none;
}

.header-adv {
  @apply grid md:gap-xs;
}
.header-adv li span {
  @apply font-display font-bold text-lg min-w-26 leading-[1.2];
}
#header {
  --alpha: 0;
  background-color: rgba(var(--col-bg), var(--alpha));
  border-bottom-color: rgba(var(--col-bg2), var(--alpha));
}

.nav {
  @apply max-md:pr-md font-display relative;
}
.nav:hover:after {
  @apply opacity-100 -bottom-1;
}
.nav a.active {
  @apply text-accent;
}
.nav::after {
  @apply absolute -bottom-2 left-0 w-full h-0.5 bg-accent content-[''] opacity-0 transition-all ease-in pointer-events-none;
}
nav > a,
.header-contacts > a {
  @apply opacity-0 text-[12px] font-bold tracking-[1px] text-nowrap;
  backface-visibility: hidden;
}
nav a:hover {
  @apply text-accent-hover;
}
nav a {
  @apply max-md:mb-md;
}
.navs-wrapper {
  @apply flex items-center md:gap-2 flex-1 md:justify-between fixed md:static max-md:flex-col top-header inset-0
 max-md:pointer-events-none max-md:select-none;
}
.navs-wrapper.opened {
  @apply pointer-events-auto select-auto;
}
nav {
  @apply flex flex-col flex-1 max-md:justify-end items-end md:flex-row 2xl:gap-md max-md:w-full max-md:bg-bg
 max-md:opacity-0 max-md:pb-sm;
}
.header-contacts {
  @apply flex items-end max-md:flex-1 md:gap-2 max-md:flex-col max-md:py-sm max-md:bg-bg2 max-md:w-full
 max-md:opacity-0;
}

.intro-complete [data-ai="0"],
.intro-complete [data-ai="1"],
.intro-complete [data-ai="1.1"],
.intro-complete [data-ai="2"],
.intro-complete [data-ai="3"],
.intro-complete [data-ai="4"] {
  @apply opacity-100;
}
[data-ai="0"],
[data-ai="1"],
[data-ai="1.1"],
[data-ai="2"],
[data-ai="3"],
[data-ai="4"] {
  @apply opacity-0 will-change-transform;
}
[data-ai="1"] {
  @apply max-md:origin-bottom-right;
}
[data-ai="1.1"] {
  @apply max-md:origin-top-right;
}
.header-adv li {
  @apply flex gap-sm items-end;
}

@keyframes scroll-animation {
  0% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(150%);
  }
}
.scroll-animation {
  @apply h-full w-0.5 bg-bg2 mr-1 relative overflow-hidden;
}
.scroll-animation + p {
  @apply text-sm;
}
.scroll-animation span {
  @apply bg-black flex w-full h-xl;
  animation: scroll-animation 5s linear infinite;
}
.h1Box span span {
  @apply opacity-0;
}
.h1Box [data-char],
.h1Box p [data-char],
#header-button {
  @apply will-change-transform opacity-0;
}

@keyframes contacts-animation {
  0%,
  70% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(5px, -5px);
  }
}

a:hover .svg-link {
  @apply md:animate-[contacts-animation_3s_linear_infinite];
}
.header-logo {
  @apply flex items-center h-9 text-black max-md:opacity-100 gap-sm;

  margin-right: calc(((100vw - 1280px) / 2) - 100px);
  @media (max-width: 1548px) {
    margin-right: 0;
  }
}
.header-logo img {
  @apply h-full w-auto object-contain py-1;
}

.hamb {
  @apply flex items-center min-h-full uppercase font-display font-bold md:hidden pr-md -mr-md;
}
.hamb-inner {
  @apply overflow-hidden max-h-[14px] flex flex-col items-end;
}
.hamb-open,
.hamb-close {
  @apply leading-[0.9];
}

@keyframes anim1 {
  0%,
  100% {
    transform: rotateZ(41deg) skewX(42deg);
  }
  50% {
    transform: rotateZ(41deg) skewX(-49deg);
  }
}

.anim1 {
  transform-origin: bottom left relative;
}
.anim1 path {
  transform-origin: 17.78px 27.31px;
}

.anime22 path {
  @apply opacity-0;
}
.loading-wrapper {
  @apply origin-center;
}
.loading-inner {
  /* @apply grid grid-cols-2 gap-1 min-w-max; */
}
.loading-inner svg {
  /* @apply origin-bottom w-md h-md; */
}
@keyframes morthD {
  0%,
  15%,
  100% {
    d: path(
      "M74.9747 11.4382C82.021 11.3655 114.927 14.5308 119.865 19.4211V19.4161C124.636 26.0333 127.493 43.8914 127.493 43.8914C128.64 50.5977 129.506 59.153 130.173 68.5722C131.516 87.5483 132.337 104.385 132.337 104.385C132.296 128.463 131.578 152.758 130.173 171.732C129.475 181.151 128.583 189.702 127.416 196.404C126.843 199.699 126.102 203.117 125.099 206.179C124.598 207.707 123.883 209.606 122.848 211.538C121.949 213.218 120.033 216.423 116.507 219.11C109.516 224.435 100.59 226.161 94.62 226.93C87.7698 227.813 80.2831 227.925 73.3152 227.646C60.1222 227.117 44.9201 225.004 36.5706 221.828C30.6942 219.592 27.5404 215.371 26.2997 213.512C24.8309 211.312 23.8987 209.142 23.3242 207.609C22.1558 204.491 21.3463 201.016 20.7398 197.844C19.4903 191.308 18.5092 182.828 17.7358 173.468C16.1747 154.574 15.2979 130.026 15.1704 105.596C15.1704 105.596 15.4381 87.906 16.9825 68.534C17.7478 58.9351 18.7824 50.099 20.2058 43.138C20.9039 39.7252 24.7394 21.7556 28.9979 18.7185C34.7653 14.6052 53.7505 12.754 53.7505 12.754C60.4328 11.5874 67.8945 11.5116 74.9747 11.4382ZM75.3848 50.5003C70.1699 50.5541 59.6578 50.6589 58.5973 52.1326C57.2248 53.2568 54.8887 63.0321 54.2324 71.2641C54.2324 71.2641 54.1084 81.5817 54.2324 105.386C54.3565 129.174 55.2209 152.658 56.6738 170.245C57.2388 177.083 57.5373 184.486 59.396 188.607C59.2348 188.582 59.5539 188.632 59.396 188.607C60.6182 190.144 68.8123 190.2 74.3981 190.424C80.5567 190.671 88.346 190.424 89.146 188.231C89.8975 183.467 90.6276 176.916 91.225 168.852C92.5382 151.124 93.2353 127.827 93.2754 104.318C93.3155 80.8101 92.4024 69.5343 92.4024 69.5343C91.8119 61.191 90.2112 52.5507 89.0712 51.7687C87.5309 50.4584 80.6308 50.4462 75.3848 50.5003Z"
    );
  }
  5% {
    d: path(
      "M74.9747 79.9512C82.021 79.8784 114.927 83.0437 119.865 87.934V87.929C124.636 94.5462 127.493 112.404 127.493 112.404C128.64 119.111 129.506 134.98 130.173 138.151C130.994 144.721 130.994 150.389 130.994 150.389C130.953 158.496 130.173 168.514 130.173 175.09C130.173 179.132 128.583 189.702 127.416 196.404C126.843 199.699 126.102 203.117 125.099 206.179C124.598 207.707 123.883 209.607 122.848 211.538C121.949 213.218 120.033 216.423 116.507 219.11C109.516 224.435 100.59 226.161 94.62 226.93C87.7698 227.813 80.283 227.925 73.3152 227.646C60.1221 227.117 44.92 225.005 36.5706 221.828C30.6941 219.592 27.5403 215.371 26.2996 213.512C24.8309 211.312 23.8987 209.142 23.3242 207.609C22.1558 204.491 21.3463 201.016 20.7398 197.844C19.4902 191.308 18.2911 177.426 17.7357 173.468C17.7355 168.931 17.1102 163.458 16.9827 155.233C16.9827 155.233 16.9824 143.553 16.9824 138.139C16.9827 134.421 18.7823 118.612 20.2058 111.651C20.9039 108.238 24.7393 90.2685 28.9979 87.2314C34.7653 83.1182 53.7504 81.2669 53.7504 81.2669C60.4328 80.1003 67.8944 80.0245 74.9747 79.9512ZM75.3847 119.013C70.1699 119.067 59.6577 119.172 58.5973 120.646C57.2248 121.77 56.0055 126.128 55.3492 128.9C55.3492 128.9 54.1083 142.532 54.2324 150.546C54.3564 158.555 54.6396 172.885 56.0925 178.806C56.6574 181.108 57.5372 184.487 59.3959 188.607C59.2348 188.583 59.5538 188.632 59.3959 188.607C60.6181 190.144 68.8123 190.2 74.398 190.424C80.5566 190.671 88.346 190.424 89.146 188.231C90.7942 183.712 91.0666 178.548 91.6641 175.833C92.4023 169.674 93.2352 158.101 93.2753 150.186C93.3154 142.272 92.3012 128.9 92.3012 128.9C91.7106 126.091 90.2112 121.064 89.0712 120.282C87.5308 118.971 80.6307 118.959 75.3847 119.013Z"
    );
  }
}
.loader-logo-D2 {
  animation: morthD 2s ease-out infinite;
}
@keyframes morthO {
  0%,
  20%,
  100% {
    d: path(
      "M77.6572 5.49718e-09C86.7963 -6.05266e-05 96.1944 0.499788 103.978 1.62123C107.802 2.17217 111.88 2.96457 115.565 4.17704C117.407 4.78289 119.665 5.65808 121.926 6.96174C123.729 8.0012 126.625 9.92145 129.107 13.1605L130.137 14.6292L130.9 15.9071C132.54 18.8771 133.255 21.7405 133.551 22.9547C134.031 24.9218 134.391 27.0055 134.667 28.9723C135.225 32.9484 135.645 37.7747 135.964 42.9148C136.607 53.2705 136.918 66.1746 136.918 78.9061C136.918 91.6382 136.607 104.542 135.964 114.897C135.645 120.037 135.225 124.855 134.667 128.83C134.391 130.799 134.032 132.889 133.551 134.857C133.212 136.248 132.323 139.781 130.137 143.173C127.469 147.314 123.986 149.653 121.926 150.841C119.665 152.145 117.407 153.029 115.565 153.635C111.88 154.847 107.801 155.631 103.978 156.181C96.1955 157.303 86.8045 157.803 77.6668 157.803C68.492 157.802 58.8921 157.305 50.659 156.22C46.5643 155.68 42.4282 154.948 38.681 153.931C35.4944 153.066 30.3585 151.431 25.9687 148.028C21.9251 144.892 19.7515 141.003 18.6732 138.796C17.4429 136.278 16.5691 133.684 15.9266 131.396C14.6364 126.8 13.733 121.462 13.0656 116.089C11.7159 105.22 11.0821 91.8979 11.082 78.9061C11.0821 65.9121 11.7155 52.5836 13.0656 41.7132C13.733 36.34 14.6365 31.0024 15.9266 26.4069C16.569 24.1194 17.4434 21.5238 18.6732 19.0065C19.752 16.7986 21.9257 12.91 25.9687 9.77504L27.6472 8.58297C31.6138 5.97913 35.8928 4.6383 38.681 3.88141C42.4281 2.86442 46.5646 2.13247 50.659 1.59262C58.8906 0.507434 68.4839 0.000233312 77.6572 5.49718e-09ZM77.6668 39.062C69.729 39.0621 61.8992 39.5037 55.7707 40.3113C54.6316 40.4615 53.2345 40.979 52.6866 42.2314C52.1386 43.4838 52.0994 44.3002 51.8225 46.5292C50.7309 55.3193 50.1441 66.9488 50.1441 78.9061C50.1441 90.8608 50.7313 102.484 51.8225 111.273C52.0993 113.502 52.5209 114.944 53.2717 116.048C53.9217 117.004 54.635 117.342 55.7707 117.491C61.8994 118.299 69.7287 118.74 77.6668 118.741C84.7648 118.741 93.7518 118.691 95.2704 117.68C96.5406 116.834 96.8495 114.399 96.9689 112.475C97.5463 103.172 97.8558 91.1233 97.8558 78.9061C97.8558 66.6876 97.5464 54.6316 96.9689 45.3276C96.8492 43.4 96.9689 41.6137 95.1611 40.3274C93.7539 39.326 84.7639 39.0621 77.6668 39.062Z"
    );
  }
  5%,
  15% {
    d: path(
      "M77.6543 5.49718e-09C86.7934 -6.05266e-05 96.1914 0.499788 103.975 1.62123C107.799 2.17217 111.877 2.96457 115.562 4.17704C117.404 4.78289 119.662 5.65808 121.923 6.96174C123.726 8.0012 126.622 9.92145 129.104 13.1605L130.134 14.6292L130.897 15.9071C132.538 18.8771 133.252 21.7405 133.549 22.9547C134.029 24.9218 134.388 27.0055 134.664 28.9723C135.222 32.9484 135.642 37.7747 135.961 42.9148C136.604 53.2705 136.915 66.1746 136.915 78.9061C136.915 91.6382 136.607 189.607 135.964 199.963C135.645 205.102 135.225 209.921 134.667 213.896C134.391 215.865 134.032 217.954 133.551 219.923C133.212 221.313 132.323 224.847 130.137 228.239C127.469 232.379 123.986 234.719 121.926 235.907C119.665 237.211 117.407 238.095 115.565 238.701C111.88 239.913 107.801 240.696 103.978 241.247C96.1955 242.369 86.8045 242.868 77.6668 242.868C68.492 242.868 58.8921 242.371 50.659 241.285C46.5643 240.745 42.4282 240.014 38.681 238.997C35.4944 238.132 30.3585 236.497 25.9687 233.093C21.9251 229.957 19.7515 226.069 18.6732 223.862C17.4429 221.344 16.5691 218.75 15.9266 216.461C14.6364 211.866 13.733 206.528 13.0656 201.155C11.7159 190.286 11.0791 91.8979 11.0791 78.9061C11.0792 65.9121 11.7126 52.5836 13.0627 41.7132C13.7301 36.34 14.6336 31.0024 15.9237 26.4069C16.566 24.1194 17.4405 21.5238 18.6703 19.0065C19.7491 16.7986 21.9227 12.91 25.9658 9.77504L27.6442 8.58297C31.6109 5.97913 35.8898 4.6383 38.6781 3.88141C42.4251 2.86442 46.5617 2.13247 50.6561 1.59262C58.8877 0.507434 68.481 0.000233312 77.6543 5.49718e-09ZM77.6639 39.062C69.7261 39.0621 61.8963 39.5037 55.7678 40.3113C54.6287 40.4615 53.2316 40.979 52.6836 42.2314C52.1357 43.4838 52.0964 44.3002 51.8196 46.5292C50.728 55.3193 50.1412 66.9488 50.1411 78.9061C50.1412 90.8608 50.7313 187.55 51.8225 196.339C52.0993 198.568 52.5209 200.01 53.2717 201.114C53.9217 202.07 54.635 202.407 55.7707 202.557C61.8994 203.365 69.7287 203.806 77.6668 203.806C84.7648 203.806 93.7518 203.757 95.2704 202.746C96.5406 201.9 96.8495 199.464 96.9689 197.541C97.5463 188.238 97.8528 91.1233 97.8529 78.9061C97.8529 66.6876 97.5435 54.6316 96.966 45.3276C96.8463 43.4 96.966 41.6137 95.1582 40.3274C93.751 39.326 84.761 39.0621 77.6639 39.062Z"
    );
  }
}
.loader-logo-O {
  animation: morthO 2s ease-out infinite;
}
.loader {
  @apply bg-bg;
}
.loader.closed {
  user-select: none;
  pointer-events: none;
}

.modal {
  @apply fixed z-11 inset-0 flex flex-col items-center justify-center pointer-events-none select-none opacity-0 px-md max-h-screen py-lg;
  --alpha: 0;
  background-color: rgba(var(--col-bl), var(--alpha));
}
.modal.opened {
  @apply z-11 pointer-events-auto select-auto opacity-100;
}

.modal-wrapper {
  @apply opacity-0 flex flex-col overflow-y-auto;
  /*max-height: calc(100vh - var(--space-lg) * 2);*/
}
.modal-inner {
  @apply bg-bg p-md md:p-lg max-w-3xl flex-1 flex flex-col justify-between;
}
.modal-right {
  @apply !z-12 items-end justify-start p-0;
}
.modal-right .modal-wrapper {
  @apply h-full flex-1;
}

[data-modal-anim="1"],
[data-modal-anim="2"] {
  @apply opacity-0;
}
.modal h4 [data-char] {
  @apply opacity-0;
}

.logotype-carousel svg {
  @apply w-full h-12;
}
.logotype-carousel img {
  @apply h-full object-cover saturate-0 flex;
}
.logotype-carousel a {
  @apply bg-bg px-md w-max h-12 flex items-center;
}
.logotype-carousel {
  @apply relative max-md:pt-md;
}
.logotype-carousel::after,
.logotype-carousel::before {
  @apply bg-linear-90 from-20% from-bg to-transparent absolute top-0 left-0 h-full w-md lg:w-2xl z-2 pointer-events-none select-none;
  content: "";
}
.logotype-carousel::after {
  @apply rotate-y-180 left-auto right-0;
}

.embla-viewport {
  @apply overflow-x-hidden py-1;
}

.embla-container {
  @apply flex will-change-transform;
  touch-action: pan-y pinch-zoom;
}

.canvas-wrapper {
  @apply absolute max-md:left-0 right-0 bottom-0 w-[75%] h-svh max-lg:w-full overflow-hidden opacity-0 transition-opacity duration-1500;
}
.canvas-wrapper.show {
  @apply opacity-100;
}
.canvas-wrapper canvas {
  @apply w-full h-full bg-transparent! md:translate-x-[10%];
}

/*CARD*/
.cards-wrapper {
  @apply grid gap-lg;
}
.cards-wrapper.big {
  @apply grid grid-cols-1 md:grid-cols-[repeat(auto-fit,minmax(600px,1fr))] gap-xl;
}
.card {
  @apply flex flex-col gap-md;
}
.card-content {
  @apply flex flex-col gap-md;
}
.card-content h4 {
  @apply leading-[1.1];
}
.card-box {
  @apply flex flex-col gap-md max-md:justify-between;
}
.card-left {
  @apply flex flex-col gap-xs max-md:justify-end;
}
.card-right {
  @apply flex flex-col gap-md;
}
.card-price {
  @apply flex gap-2xs items-end md:order-2;
}
.card-price p {
  @apply text-xl;
}
.card-img {
  @apply flex items-center justify-center overflow-hidden bg-bg2 p-md aspect-10/6;
}
.card-img img {
  @apply w-full h-full object-contain shrink-0;
}

.card-variant,
.card-term {
  @apply flex flex-col gap-sm;
}

.card-term {
  @apply max-md:-mt-1.5 mt-auto;
}
.card-text-info p {
  @apply text-black2 text-lg;
}
.card-price p:last-child {
  @apply font-display max-md:text-lg;
}
.card-variant button {
  @apply w-full h-full;
}
.card-variant button.active {
  @apply bg-btn-hover;
}
.card-desc.extended {
  @apply text-ellipsis line-clamp-3;
}
.card-desc {
  @apply flex-1;
}
.card .embla {
  --slide-size: 100%;
}
.embla .embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
}

/*SLIDER*/
.slider {
  --slide-width: calc(100% / var(--items));
  @apply w-full;
}
[data-slider] {
  --gap: 0;
  --items: 1;
}
.slider-container.full-width > .slider-track {
  @apply px-md md:px-xl;
}
.slider-container.full-width {
  @apply -mx-md md:-mx-xl;
}
.slider-container {
  @apply overflow-hidden;
  /* overflow: hidden; */
}
.slider-track {
  @apply flex;
  will-change: auto;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--gap) * -1);
}
.slide {
  /* flex: 0 0 var(--slide-width); */
  min-width: var(--slide-width);
  max-width: var(--slide-width);
  padding-left: var(--gap);
}

.same-product-btn.active {
  @apply bg-btn-hover text-black;
}
.same-product-btn {
  @apply justify-center p-2 max-w-40 relative;
}

/*ADV*/
.adv-img {
  @apply absolute inset-0;
}

.adv-inner-top {
  @apply relative mb-sm overflow-hidden md:h-120;
}
.adv-inner-top img {
  @apply object-cover w-full md:h-full max-md:aspect-video;
}
.adv-inner-bottom {
  @apply flex flex-col gap-sm;
}
.adv {
  @apply sticky top-0 h-screen flex justify-center flex-col mb-lg;
  will-change: transform;
  transform: translateZ(0);
  contain: layout;
  isolation: isolate;
}
.adv-img-wrapper {
  @apply relative flex-1 overflow-hidden z-3 max-md:!w-full;
  /*width: calc(var(--spacing-wrapper) + ((100vw - var(--spacing-wrapper)) / 2 - 96px));*/
}
.adv-main {
  @apply relative flex justify-center flex-col;
}
.adv-text-box {
  @apply min-h-[70vh] md:min-h-[60vh];
}
.adv-right-progress,
.adv-decor-wrapper {
  @apply mb-md;
}
.adv-decor {
  @apply flex font-bold h-max will-change-transform;
}
.adv-decor p {
  @apply font-display text-accent md:text-nowrap opacity-15 pr-md text-4xl;
  will-change: opacity;
  transition: opacity 0.6s ease-in-out;
}
.adv-decor p.active {
  @apply opacity-100;
}
.adv-img:first-child {
  translate: 0 0;
}
.adv .adv-img {
  @apply duration-1000 transition-transform translate-y-full;
}
.adv-img:first-child {
  @apply translate-y-0;
}
.adv-img.active {
  @apply translate-y-0;
}
.adv-img img {
  @apply w-full h-full object-cover;
}
.adv-text-inner.active-0 {
  @apply translate-x-0;
}
.adv-text-content {
  @apply relative flex-1;
}
.adv-text-box {
  @apply md:bg-bg z-4 w-full -top-px left-0 flex flex-col justify-between *:flex-1 gap-md;
}

.adv-text-inner ul:not(.active) {
  @apply opacity-0 pointer-events-none select-none;
  transition: opacity 0.3s ease;
}
.adv-text-inner ul:not(.adv-text-inner-rows) {
  @apply grid grid-cols-[repeat(auto-fit,minmax(200px,1fr))];
}
.adv-text-inner ul {
  @apply absolute inset-0 gap-md max-md:flex-col min-w-full max-md:flex max-md:gap-lg max-md:h-fit;
}
.adv-text-inner-rows {
  @apply flex flex-col;
}
.adv-text-inner li {
  @apply min-w-60 flex flex-col gap-xs;
}
.adv-text-inner {
  @apply will-change-transform flex gap-[48px] w-full;
}

.adv-text-content p {
  @apply w-full min-w-full pr-md;
  opacity: 0.2;
  transition: 0.15s ease;
}
.adv-text-content p.active {
  opacity: 1;
}

.adv-text-left {
  @apply flex-2;
}

.adv-text-left,
.adv-text-right {
  @apply flex gap-sm items-start;
}
.adv-divider {
  @apply w-5 h-px bg-black mt-2.5 flex;
}
.adv-decor-line {
  @apply left-0 top-0.5 h-6 bg-black z-2;
}
.adv-decor-line:nth-child(2) {
  @apply left-0;
}
.adv-decor-line:nth-child(3) {
  @apply left-1;
}
.adv-decor-line:nth-child(4) {
  @apply left-2;
}

.main-variants-img {
  @apply w-full h-full object-cover absolute inset-0 transition-opacity duration-1000 opacity-0;
}
.main-variants-img.active {
  @apply opacity-100;
}

.adv-right-progress {
  @apply flex justify-between h-fit py-md items-center;
}
.adv-right-progress p.active {
  @apply text-black;
}
.adv-right-progress p {
  @apply text-black/30 transition-colors duration-150;
}
.adv-right-progress p:not(.adv-right-number) {
  /* writing-mode: vertical-rl; */
}
.adv-right-number:last-child {
  @apply pr-0;
}
.adv-right-number {
  @apply text-xs p-1.25 bg-bg relative leading-[0.6];
}
.adv-right-line {
  @apply h-px bg-black ml-18;
}
footer {
  @apply bg-black pt-lg overflow-hidden relative;
}

footer:after {
  content: "";
  @apply top-0 right-0 left-0 h-20 bg-linear-to-b from-black/50 to-transparent z-1 absolute;
}

footer a,
footer p {
  @apply text-bg;
}

.catalog-wrapper {
  @apply fixed inset-0 z-11 grid;
}
.catalog-wrapper:not(.opened) {
  @apply pointer-events-none select-none opacity-0;
}

.catalog-inner {
  @apply grid grid-rows-[auto_1fr] bg-bg gap-sm py-md max-md:pb-0
 h-full max-h-screen max-md:max-h-screen max-md:pr-1 max-md:pl-3 max-md:pt-3;
}

.catalog-sub-wrapper {
  @apply relative flex-1 flex flex-col md:h-full items-stretch order-2
	 overflow-hidden md:overflow-y-auto max-md:grid min-h-0;
  will-change: grid-template-rows;
  transition: all 0.3s ease;
}
.catalog-content {
  grid-template-rows: repeat(3, 1fr);
  @apply flex-1 md:grid h-full grid-cols-5 gap-sm md:gap-2xs *:opacity-0 max-[1268px]:grid-cols-4 max-lg:grid-cols-2
 	max-md:grid-cols-1 flex flex-col max-md:overflow-y-auto max-md:overflow-x-hidden max-md:pb-lg max-md:pr-3;
}
.catalog-item a p {
  @apply font-sans tracking-normal;
}
.catalog-item {
  @apply relative pt-3! max-md:pb-3! flex flex-col md:gap-2 md:bg-bg2 md:p-0.5 md:pb-0 border border-transparent transition-colors
	will-change-transform max-md:bg-bg2;
}
.catalog-item-row {
  @apply md:pl-0.5 md:pb-0.5;
}
.catalog-item-row .catalog-sub-wrapper .catalog-sub-menu {
  @apply md:grid md:grid-cols-2 md:grid-rows-[auto];
}
.catalog-item-row .catalog-sub-menu {
  @apply bottom-0 p-0;
}
.catalog-item-row svg {
  @apply absolute right-6.5 top-4 z-2;
}
.catalog-item:hover > p {
  @apply text-accent;
}
.catalog-item-bg-img {
  @apply w-full h-full flex-1 object-cover transition-opacity duration-300!;
}
.catalog-item:hover .catalog-item-bg-img {
  @apply opacity-0;
}

.catalog-item-row .catalog-sub-menu a {
  @apply flex-col pr-0 justify-end overflow-hidden items-start;
}
.catalog-sub-menu .btn.link:hover {
  /* @apply bg-transparent; */
}
/* .catalog-item-row .catalog-sub-menu a:hover img {
  @apply scale-120;
} */
.catalog-item-row .catalog-sub-menu img {
  @apply absolute right-0 left-0 md:min-w-[100%]! m-0 object-contain max-md:right-0 max-md:min-w-40;
}
.catalog-item.with-col-span2 {
  @apply md:col-span-2;
}
/* .catalog-item.with-col-span2 .catalog-sub-menu {
  @apply flex-row;
}
.catalog-item.with-col-span2 .catalog-sub-menu a {
  @apply flex-col;
} */
.catalog-item.with-row-span2 {
  @apply md:row-span-2;
}
.catalog-item:hover {
  @apply md:border-accent;
}
.catalog-item:has(.catalog-sub-wrapper.scroll-top):before {
  @apply opacity-0;
}
.catalog-item:has(.catalog-sub-wrapper.scroll-end):after {
  @apply opacity-0;
}

.catalog-item:has(.catalog-sub-wrapper.has-scroll):before,
.catalog-item:has(.catalog-sub-wrapper.has-scroll):after {
  content: "";
  @apply pointer-events-none select-none absolute bottom-0 right-0 left-0 h-lg bg-linear-to-b from-transparent to-bg2 z-4
	transition-opacity duration-300 max-md:hidden;
}
.catalog-item:has(.catalog-sub-wrapper.has-scroll):before {
  @apply bg-linear-to-t top-10 bottom-auto;
}

.catalog-item > p {
  @apply font-sans font-bold md:uppercase max-md:font-display md:ml-2.5 md:mb-0.5 max-md:text-span max-md:tracking-[1px]
   max-md:py-2 max-md:pr-8 flex justify-between items-center md:inline max-md:pl-2.5;
}

.catalog-item > p span {
  @apply normal-case;
}
.catalog-img {
  @apply absolute inset-0 object-cover flex-1 w-full h-full min-h-0 right-0;
  display: none;
  aspect-ratio: unset !important;
}
.catalog-sub-menu {
  @apply flex-1 grid grid-cols-[1fr] grid-rows-[repeat(auto-fit,minmax(70px,1fr))] md:absolute left-0 top-0 right-0
  z-3 md:pb-0.5 overflow-hidden min-h-full;
}
.catalog-sub-menu a:last-child {
  @apply max-md:mb-md;
}
.catalog-sub-menu a {
  @apply flex flex-col! justify-end items-start gap-sm w-full max-md:pl-0 max-md:pr-2.5 p-0 min-h-full bg-bg2;
}
.catalog-sub-menu svg {
  @apply absolute left-auto right-5.5 top-3;
}
.catalog-sub-menu a.active {
  @apply flex-1;
}
.catalog-sub-extraText {
  @apply absolute top-1 left-sm text-xl opacity-30;
}
.catalog-sub-menu a .svg-link {
  /*@apply pr-0 ml-0;*/
}
.catalog-sub-menu p {
  @apply leading-[1.2] max-md:w-3/4 py-1 px-3 pb-1.5 relative flex-0 w-full h-fit md:bg-linear-to-t from-20% from-bg2 to-transparent pt-4;
}
.catalog-sub-img {
  @apply absolute right-0 h-full flex-1 top-0;
}
.catalog-sub-menu a:hover p {
  @apply text-accent-hover;
}
.catalog-sub-menu img {
  @apply max-w-50 mb-2 transition-transform duration-600 object-contain;
}

#catalog-close-btn {
  @apply absolute font-display text-[12px]! right-1 tracking-normal md:right-xl top-2 md:top-4.5 flex items-center font-bold uppercase max-md:text-[11px];
}
.catalog-only-text {
  @apply pl-xs;
}

.catalog-item-svg {
  @apply absolute right-0 top-2.5 w-4 h-4;
}

.scroll-end-trigger,
.scroll-top-trigger {
  @apply h-px;
}
.scroll-top-trigger {
  @apply absolute bottom-0 left-0 right-0;
}
[data-modal-name="polities"] ul li p:first-child {
  @apply font-bold font-display text-[12px] mb-sm;
}

.accordion-wrapper,
.fake-div {
  @apply flex flex-col flex-1;
}

.accordion {
  @apply flex flex-col gap-px pl-px transition-colors;
}
.fake-div {
  @apply flex-0;
}
@keyframes ArrowDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(6px);
  }
}

.accordion-item {
  @apply grid grid-rows-[0fr];
  transition: grid-template-rows 0.3s cubic-bezier(0.1, 0.7, 0.5, 1);
}
.accordion.current .accordion-item,
.accordion.opened .accordion-item {
  @apply grid-rows-[1fr];
}
.accordion.current svg {
  @apply rotate-180;
}
.accordion-btn {
  @apply min-w-full text-lg py-4 px-8 flex justify-between max-md:leading-[1.2];
}
.accordion.current {
  @apply border-l border-black;
}

.accordion.upper {
  @apply opacity-30 border-l-0;
}
.question-heading-wrapper {
  @apply sticky h-fit flex md:flex-col gap-sm top-[40vh] max-md:[writing-mode:vertical-rl];
}
.question-heading {
  @apply flex items-center min-h-[60px] max-md:max-w-30;
}
.question-counter {
  @apply max-md:min-h-15 flex items-end;
}
.question-counter > span {
  @apply max-md:text-[16px];
}

.question-heading-line {
  @apply min-w-2 md:min-w-xl h-px flex bg-black mt-1 max-md:hidden;
}
.accordion-item p {
  @apply leading-[1.4];
}

.product-count {
  @apply flex gap-1 w-min;
}
.product-count a {
  @apply py-sm px-sm min-w-lg flex justify-center;
}
/*.product-characters > li:last-child {
	@apply border-b-0;
}*/
.product-characters > li {
  @apply py-xs;
}
.product-characters li ul li p:first-child {
  /*@apply text-black/40;*/
}
.product-characters li ul {
  @apply flex flex-col gap-sm;
}
.product-characters {
  @apply flex flex-col flex-1;
}

/* CALCULATOR */

#calc-wrapper {
  @apply mt-6 ml-6 flex flex-col;
}
.calc-base {
  @apply w-80.5 h-60 relative -mt-4.5 select-none border border-transparent transition-colors box-content;
}
.calc-base.draggable {
  @apply border-black z-2;
}
.calc-base.draggable .calc-base-item:not(.draggable) .calc-wall-height-wrapper,
.calc-base.draggable .calc-base-item:not(.draggable) .calc-action-wrapper {
  @apply hidden;
}

.drag-window {
  @apply w-fit;
}

.drag-door {
  @apply absolute w-fit;
}
.drag-door::after {
  content: "";
  @apply absolute origin-top w-1 h-[calc(100%-36px)] bg-black top-4 left-1.5 rotate-25 pointer-events-none;
}
.calc-base-border {
  @apply absolute inset-4 bg-bg;
  box-shadow:
    /* 0 0 0 1px #212529, */ 0 0 0 16px var(--color-neutral-300);
  /* 0 0 0 14px #212529; */
}
.calc-right {
  @apply p-lg pt-md pb-xl bg-bg2 flex-1 overflow-x-auto relative z-1;
}
.calc-right-wrapper {
  @apply flex-1 min-w-max;
}
.base-drag-item:hover .calc-rotate,
.base-drag-item:hover .calc-cross {
  @apply opacity-100 pointer-events-auto;
}
.calc-rotate {
  @apply absolute -right-6 top-4;
}
.calc-cross {
  @apply absolute -right-6 top-9.5;
}
.calc-cross,
.calc-rotate {
  @apply p-0.5 opacity-0 pointer-events-none transition-colors cursor-pointer;
}
.calc-base-item {
  @apply py-2 absolute w-fit cursor-grab z-3 flex items-center justify-center max-h-4 max-w-4;
}
.calc-base-item.calc-base-rotated {
  @apply py-0 px-2;
}
.calc-base-window {
  @apply relative min-h-20 min-w-4 z-2 bg-bg flex flex-col items-center;
}
.calc-base-rotated .calc-base-window {
  @apply flex-row min-w-20 min-h-4;
}
.calc-base-window-d {
  @apply w-4 h-2 bg-black;
}
.calc-base-rotated .calc-base-window-d {
  @apply h-4 w-2;
}
.calc-base-rotated .calc-base-window-c {
  @apply w-full h-0.5;
}
.calc-base-window-c {
  @apply flex-1 w-0.5 bg-black;
}
.calc-base-wall.calc-base-rotated {
  @apply min-h-4 top-auto bottom-auto left-0 right-0;
}
.calc-base-wall {
  @apply z-1 top-0 bottom-0 min-w-4;
}
.calc-base-item:hover .calc-wall-height-wrapper,
.calc-base-item:hover .calc-action-wrapper {
  @apply opacity-100 pointer-events-auto;
}
.calc-base-rotated .calc-action-wrapper {
  @apply -right-4 bottom-4 pb-0.5 top-auto left-auto flex-row-reverse;
}
.calc-base-item .calc-action-wrapper {
  @apply pointer-events-none;
}
.calc-base-rotated .calc-wall-height-wrapper {
  @apply w-[calc(100%-1px)] left-0 top-4 pt-0.5;
}
.calc-base-item.draggable .calc-wall-height-wrapper,
.calc-base-item.draggable .calc-action-wrapper {
  @apply opacity-0!;
}
.calc-base-item.draggable .calc-wall-height-wrapper,
.calc-base-item.draggable button {
  @apply select-none! pointer-events-none!;
}
.calc-base-item.changed-height .calc-wall-height-wrapper {
  @apply opacity-100!;
}
.calc-action-wrapper {
  @apply absolute opacity-0 -top-4 -left-6.5 h-min transition-opacity flex flex-col pr-0.5;
}
.calc-wall-height-wrapper {
  @apply absolute opacity-0 bottom-0 left-4 max-h-[calc(100%-1px)] top-px pl-0.5 pointer-events-none select-none cursor-auto
	flex flex-col;
}
.calc-wall-height-btn {
  @apply bg-gray-200 cursor-ns-resize! absolute bottom-0 left-px items-center;
}
.calc-base-rotated .calc-wall-height-btn:hover {
  @apply cursor-ew-resize!;
}
.calc-base-rotated .calc-wall-height-btn {
  @apply top-px right-px left-auto;
}
.calc-base-rotated .calc-wall-height-count {
  @apply rotate-0 top-0.5 left-auto right-8;
}
.calc-base-rotated .calc-base-wall-bg {
  @apply min-h-4 min-w-4;
}
.calc-base-wall-bg {
  @apply h-full bg-neutral-200 relative z-2 min-h-4 min-w-4;
}

.calc-wall-height-count {
  @apply absolute bottom-9 rotate-90 -left-2.25 pointer-events-none select-none;
}
.calc-base-item:hover .calc-wall-height-wrapper,
.calc-base-item:hover button {
  @apply pointer-events-auto select-auto;
}
.calc-base-item button {
  @apply bg-gray-200 p-1.5 w-6 h-6 pointer-events-none select-none;
}
.calc-base-svg {
  @apply h-4 w-4;
}
.calc-block-actions {
  @apply flex gap-1;
}
.calc-block-actions button {
  @apply px-2 py-2 h-8;
}
.calc-left {
  @apply sticky max-h-[calc(100vh-var(--spacing-header))] overflow-y-auto
	overflow-x-hidden top-header flex flex-col gap-md py-md pl-xl pr-lg h-fit z-3 bg-bg;
}
.calc-left-block {
  @apply bg-btn-hover min-h-10 min-w-100;
}
.calc-arrow-top {
  @apply rotate-180;
}

.debug-helper {
  @apply absolute border-black border opacity-80;
}

.calc-wall-coords {
  @apply absolute bottom-0 left-1;
}

.calc-base-width {
  @apply absolute left-0 right-0 flex -top-12 items-center;
}
.calc-base-height {
  @apply absolute top-0 bottom-0 flex items-center origin-bottom flex-col -left-17;
}
.calc-base-height p,
.calc-base-width p {
  @apply px-sm bg-bg2;
}
.calc-base-height p {
  @apply -rotate-90;
}
.calc-base-height span,
.calc-base-width span {
  @apply flex-1 h-px bg-gray-300 flex min-w-px;
}
.calc-base-rotated .calc-base-window-text {
  @apply rotate-0 left-1/2 -translate-x-1/2;
}
.calc-base-window-text {
  @apply absolute  -left-2.5 translate-x-0 top-1/2 -translate-y-1/2 -rotate-90 leading-[0.8] text-[12px];
}
.calc-section {
  @apply min-h-screen flex flex-col pt-header max-md:hidden;
}
.calc-section .product-price-summ {
  @apply flex-col-reverse items-start md:gap-sm;
}
.product-price-summ {
  @apply flex gap-sm md:gap-md max-md:flex-col md:items-center;
}
.product-price-info-wrapper {
  @apply relative;
}
.product-calc-info-wrapper:hover .product-calc-info {
  @apply opacity-100 pointer-events-auto select-auto;
}
.product-calc-info {
  @apply min-w-100;
}
.product-calc-info .product-characters {
  @apply bg-bg border border-black px-md py-4 min-w-120;
}
.product-calc-info {
  @apply absolute right-0 left-0 pl-px top-1/2 translate-x-30 -translate-y-1/2 z-2 transition-all origin-bottom;
}
.projects {
  /* background: url("/pictures/projects/featureHome3.webp");
  filter: brightness(1.1);
  background-size: 80%;
  background-position: 0% 150%;
  background-repeat: no-repeat; */
}
.projects-header {
  @apply flex gap-lg flex-col justify-center! min-h-[calc(100vh-var(--spacing-header))];
}

/* CALCULATOR */

.divider {
  @apply w-full min-h-px bg-black/10;
}

#modal-portal {
  @apply fixed z-6;
}
