@import "./fonts.css";
@import "tailwindcss";

:root {
  --col-bl: 20, 20, 20;
  --col-bg: 249, 249, 249;
  --col-bg2: 244, 244, 244;
}

@theme {
  --font-sans: "Play", ui-sans-serif, system-ui;
  /*--font-sans: 'Moderustic', ui-sans-serif, system-ui;*/
  --font-display: "Play", ui-sans-serif, system-ui;
  --text-h1: 2.5rem; /* 32px */

  /* Коэффициент масштабирования (Scale Factor) — 1.25 (Major Third) */
  --ratio: 1.2;
  --spacing-header: 60px;

  --text-h2: calc(var(--text-h1) / var(--ratio));
  --text-h3: calc(var(--text-h2) / var(--ratio));
  --text-h4: calc(var(--text-h3) / var(--ratio));
  --text-h5: calc(var(--text-h4) / var(--ratio));
  --text-h6: calc(var(--text-h5) / var(--ratio));

  --text-p: 1rem; /* Базовый текст (16px) */
  --text-title: 1.1rem; /* Базовый текст (16px) */
  --text-span: 0.875rem; /* Чуть меньше (14px) */

  --sp-max: 3rem; /* 48px */

  --spacing-2xs: calc(var(--sp-max) * 0.062); /* 1/16 */
  --spacing-xs: calc(var(--sp-max) * 0.125); /* 1/8 */
  --spacing-sm: calc(var(--sp-max) * 0.25); /* 1/4 */
  --spacing-md: calc(var(--sp-max) * 0.5); /* 1/2 */
  --spacing-lg: var(--sp-max); /* 100% */
  --spacing-xl: calc(var(--sp-max) * 2); /*  1 * 2*/
  --spacing-2xl: calc(var(--sp-max) * 4); /*  1 * 4*/
  --spacing-wrapper: 1280px;

  --color-bg: rgb(var(--col-bg));
  --color-bg2: rgb(var(--col-bg2));
  --color-black: rgb(var(--col-bl));
  --color-black2: rgba(var(--col-bl), 0.6);
  --color-border: #e9e9e9;
  --color-btn-hover: rgba(0, 0, 0, 0.03);
}

html {
  background: var(--color-bg);
  /* background: url("/bg-dot.png"), var(--color-bg); */
  border: none;
  scroll-behavior: smooth !important;
  overscroll-behavior: none;

  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  touch-action: pan-y !important; /* ← БЛОКИРУЕТ боковой bounce */
  scroll-snap-type: y mandatory; /* ← Стабилизирует Safari */
}

body {
  height: 100vh;
  -webkit-overflow-scrolling: touch;
  scroll-padding-top: var(--spacing-header);
  will-change: scroll-position;
}
@layer base {
  /*body {*/
  /*@apply text-black;*/
  /*}*/
  h1,
  h1 span {
    @apply text-h1 font-bold tracking-tight font-display leading-[1.1];
  }
  h2,
  h2 span {
    @apply text-h2 font-bold tracking-tight font-display leading-[1.1];
  }
  h3,
  h3 span {
    @apply text-h3 font-bold font-display leading-[1.1];
  }
  h4,
  h4 span {
    @apply text-h4 font-bold font-display;
  }
  h5 {
    @apply text-h5 font-bold font-display;
  }
  h6 {
    @apply text-h6 font-bold font-display;
  }

  p.title,
  p.title span {
    @apply text-title font-display font-bold;
  }

  p,
  p span {
    @apply leading-[1.2];
  }
  span {
    @apply text-span;
  }

  :root {
    --spacing-max: 2rem; /* На мобилках меньше */
  }
  @media (min-width: 1024px) {
    :root {
      --spacing-max: 4rem; /* На десктопах больше */
    }
  }

  @media (max-width: 768px) {
    :root {
      font-size: 80%;
      /*--ratio: 1.3;*/
      --spacing-header: 48px;
      h1,
      h1 span {
        font-size: 24px;
      }
      h2,
      h2 span {
        font-size: 20px;
      }
      h3,
      h3 span {
        font-size: 18px;
      }
      p.title,
      p.title span {
        font-size: 16px;
      }
      p,
      p.span {
        font-size: 14px;
      }
    }
  }
}

@layer components {
  .btn {
    @apply relative flex items-center w-max font-display tracking-tight py-sm px-md text-black cursor-pointer;
    --space: 4px;
  }
  .btn.disabled {
    @apply opacity-30 cursor-default;
  }
  .btn.black {
    @apply max-md:w-full max-md:justify-center max-md:text-lg;
  }
  .btn.black,
  .btn.active {
    @apply text-bg bg-black;
  }
  .input-wrapper span,
  .btn span,
  .input-wrapper span {
    @apply h-0.5 w-0.5 flex border-transparent transition-transform;
  }
  .btn:hover span,
  input:focus ~ span,
  textarea:focus ~ span {
    @apply h-2 w-2 !border-[1px];
  }
  .input-wrapper span:nth-of-type(1),
  .btn span:nth-of-type(1),
  .link span:nth-of-type(1) {
    @apply absolute top-0 left-0 border-t-black border-l-black border-0;
  }
  .input-wrapper span:nth-of-type(2),
  .btn span:nth-of-type(2),
  .link span:nth-of-type(2) {
    @apply absolute top-0 right-0 border-t-black border-r-black border-0;
  }
  .input-wrapper span:nth-of-type(3),
  .btn span:nth-of-type(3),
  .link span:nth-of-type(3) {
    @apply absolute bottom-0 left-0 border-l-black border-b-black border-0;
  }
  .input-wrapper span:nth-of-type(4),
  .btn span:nth-of-type(4),
  .link span:nth-of-type(4) {
    @apply absolute bottom-0 right-0 border-b-black border-r-black border-0;
  }
  .btn:hover span:nth-of-type(1) {
    @apply -translate-y-[var(--space)] -translate-x-[var(--space)];
  }
  .btn:hover span:nth-of-type(2) {
    @apply -translate-y-[var(--space)] translate-[var(--space)];
  }
  .btn:hover span:nth-of-type(3) {
    @apply translate-y-[var(--space)] -translate-[var(--space)];
  }
  .btn:hover span:nth-of-type(4) {
    @apply translate-y-[var(--space)] translate-[var(--space)];
  }
  .btn.biggest {
    @apply py-4 px-8 text-lg;
  }
  .btn.small {
    @apply flex justify-center p-0 w-9 h-8.5 transition-colors leading-7.5;
  }
  .btn.small span {
    @apply h-1 w-1;
  }
  .btn.link {
    @apply text-p text-xs max-md:text-[14px];
    --space: 0;
  }
  .btn.link.inv {
    @apply fill-bg;
  }
  .btn.link.inv span {
    @apply invert;
  }
  .btn.link.inv:hover {
    @apply bg-bg/10;
  }
  .input-wrapper {
    @apply relative;
    --space: 0;
  }
  .btn.link:hover {
    @apply bg-btn-hover;
  }
  .btn.link.black:hover,
  .btn.link.active:hover {
    @apply bg-black text-bg;
  }
  .btn.link:hover span,
  textarea:focus ~ span,
  input:focus ~ span {
    @apply opacity-100;
  }
  .btn.link span,
  .input-wrapper span {
    @apply transition-all opacity-0;
  }

  .svg-link {
    @apply flex min-w-2 h-2 mb-1.5 -mr-2.5 ml-xs stroke-1;
  }

  .wrapper {
    @apply max-w-wrapper px-md mx-auto;
  }
  .main-wrapper {
    @apply px-md lg:px-lg 2xl:px-xl;
  }
  input,
  textarea {
    @apply bg-bg2 min-h-lg w-full px-sm py-sm outline-0;
  }
  label {
    @apply w-full flex flex-col;
  }
  label p {
    @apply mb-sm;
  }
  textarea {
    @apply min-h-xl resize-none flex;
  }

  .link-short {
    @apply underline;
  }
  .big-space {
    @apply py-lg md:py-2xl;
  }

  .scrollbar-custom {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: var(--color-black) var(--color-bg2); /* Firefox */
  }

  /* Webkit */
  ::-webkit-scrollbar {
    @apply w-1 h-1;
  }

  ::-webkit-scrollbar-track {
    @apply bg-bg rounded-full;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-gray-300;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-300;
  }
}

body.menu-opened {
  overscroll-behavior: none;
  touch-action: none;
}

.header-adv {
  @apply grid md:gap-xs;
}
.header-adv li span {
  @apply font-display font-bold text-lg min-w-16 leading-[1.2];
}
#header {
  --alpha: 0;
  background-color: rgba(var(--col-bg), var(--alpha));
  border-bottom-color: rgba(var(--col-bg2), var(--alpha));
}

nav > a,
.header-contacts > a {
  @apply opacity-0 max-md:text-lg;
  backface-visibility: hidden;
}
.navs-wrapper {
  @apply flex md:gap-2 items-end flex-1 md:justify-between fixed md:static max-md:flex-col top-header inset-0
 max-md:pointer-events-none max-md:select-none;
}
.navs-wrapper.opened {
  @apply pointer-events-auto select-auto;
}
nav {
  @apply flex flex-col flex-1 max-md:justify-end items-end md:flex-row 2xl:gap-2 max-md:w-full max-md:bg-bg
 max-md:opacity-0 max-md:pb-sm;
}
.header-contacts {
  @apply flex items-end max-md:flex-1 md:gap-2 max-md:flex-col max-md:py-sm max-md:bg-bg2 max-md:w-full
 max-md:opacity-0;
}

.intro-complete [data-ai="0"],
.intro-complete [data-ai="1"],
.intro-complete [data-ai="1.1"],
.intro-complete [data-ai="2"],
.intro-complete [data-ai="3"],
.intro-complete [data-ai="4"] {
  @apply opacity-100;
}
[data-ai="0"],
[data-ai="1"],
[data-ai="1.1"],
[data-ai="2"],
[data-ai="3"],
[data-ai="4"] {
  @apply opacity-0 will-change-transform;
}
[data-ai="1"] {
  @apply max-md:origin-bottom-right;
}
[data-ai="1.1"] {
  @apply max-md:origin-top-right;
}
.header-adv li {
  @apply flex gap-sm items-end;
}

@keyframes scroll-animation {
  0% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(150%);
  }
}
.scroll-animation {
  @apply h-full w-0.5 bg-bg2 mr-1 relative overflow-hidden;
}
.scroll-animation + p {
  @apply text-sm;
}
.scroll-animation span {
  @apply bg-black flex w-full h-xl;
  animation: scroll-animation 5s linear infinite;
}
.h1Box span span {
  @apply opacity-0;
}
.h1Box [data-char],
.h1Box p [data-char],
#header-button {
  @apply will-change-transform opacity-0;
}

@keyframes contacts-animation {
  0%,
  70% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(5px, -5px);
  }
}

a:hover .svg-link {
  @apply md:animate-[contacts-animation_3s_linear_infinite];
}
.header-logo {
  @apply flex h-11 text-black max-md:opacity-100 w-9;
  margin-right: calc(((100vw - 1280px) / 2) - 132px);
  @media (max-width: 1548px) {
    margin-right: 0;
  }
}

.hamb {
  @apply flex items-center min-h-full uppercase font-display font-bold md:hidden pr-md -mr-md;
}
.hamb-inner {
  @apply overflow-hidden max-h-[13px] flex flex-col items-end;
}
.hamb-open,
.hamb-close {
  @apply leading-[0.9];
}

@keyframes anim1 {
  0%,
  100% {
    transform: rotateZ(41deg) skewX(42deg);
  }
  50% {
    transform: rotateZ(41deg) skewX(-49deg);
  }
}

.anim1 {
  transform-origin: bottom left relative;
}
.anim1 path {
  transform-origin: 17.78px 27.31px;
}

.anime22 path {
  @apply opacity-0;
}
.loading-wrapper {
  @apply origin-center;
}
.loading-inner {
  @apply origin-bottom;
}
.loader {
  @apply bg-bg;
}
.loader.closed {
  user-select: none;
  pointer-events: none;
}

.modal {
  @apply fixed z-11 inset-0 flex flex-col items-center justify-center pointer-events-none select-none opacity-0 px-md max-h-screen py-lg;
  --alpha: 0;
  background-color: rgba(var(--col-bl), var(--alpha));
}
.modal.opened {
  @apply z-11 pointer-events-auto select-auto opacity-100;
}

.modal-wrapper {
  @apply opacity-0 flex flex-col overflow-y-auto;
  /*max-height: calc(100vh - var(--space-lg) * 2);*/
}
.modal-inner {
  @apply bg-bg p-md md:p-lg max-w-3xl flex-1 flex flex-col justify-between;
}
.modal-right {
  @apply !z-12 items-end justify-start p-0;
}
.modal-right .modal-wrapper {
  @apply h-full flex-1;
}

[data-modal-anim="1"],
[data-modal-anim="2"] {
  @apply opacity-0;
}
.modal h4 [data-char] {
  @apply opacity-0;
}

.logotype-carousel svg {
  @apply w-full h-12;
}
.logotype-carousel img {
  @apply h-full object-cover saturate-0 flex;
}
.logotype-carousel a {
  @apply bg-bg px-md w-max h-12 flex items-center;
}
.logotype-carousel {
  @apply relative max-md:pt-md;
}
.logotype-carousel::after,
.logotype-carousel::before {
  @apply bg-linear-90 from-20% from-bg to-transparent absolute top-0 left-0 h-full w-md lg:w-2xl z-2 pointer-events-none select-none;
  content: "";
}
.logotype-carousel::after {
  @apply rotate-y-180 left-auto right-0;
}

.embla-viewport {
  @apply overflow-x-hidden py-1;
}

.embla-container {
  @apply flex will-change-transform;
  touch-action: pan-y pinch-zoom;
}

.canvas-wrapper {
  @apply absolute max-md:left-0 right-0 bottom-0 w-[75%] h-svh max-lg:w-full overflow-hidden opacity-0 transition-opacity duration-1500;
}
.canvas-wrapper.show {
  @apply opacity-100;
}
.canvas-wrapper canvas {
  @apply w-full h-full bg-transparent! md:translate-x-[10%];
}

/*CARD*/
.cards-wrapper {
  @apply grid gap-lg mt-lg;
}
.cards-wrapper.big {
  @apply grid grid-cols-1 md:grid-cols-[repeat(auto-fit,minmax(600px,1fr))] gap-xl;
}
.card {
  @apply flex flex-col gap-md;
}
.card-content {
  @apply flex flex-col gap-md;
}
.card-content h4 {
  @apply leading-[1.1];
}
.card-box {
  @apply flex flex-col gap-md max-md:justify-between;
}
.card-left {
  @apply flex flex-col gap-xs max-md:justify-end;
}
.card-right {
  @apply flex flex-col gap-md;
}
.card-price {
  @apply flex gap-2xs items-end md:order-2;
}
.card-price p {
  @apply text-2xl!;
}
.card-img {
  @apply flex items-center justify-center overflow-hidden bg-bg2 p-md aspect-10/6;
}
.card-img img {
  @apply w-full h-full object-contain shrink-0;
}

.card-variant,
.card-term {
  @apply flex flex-col gap-sm;
}

.card-term {
  @apply max-md:-mt-1.5 mt-auto;
}
.card-text-info p {
  @apply text-black2 text-lg;
}
.card-price p:last-child {
  @apply font-display max-md:text-lg;
}
.card-variant button {
  @apply w-full h-full;
}
.card-variant button.active {
  @apply bg-btn-hover;
}
.card-desc.extended {
  @apply text-ellipsis line-clamp-3;
}
.card-desc {
  @apply flex-1;
}
.card .embla {
  --slide-size: 100%;
}
.embla .embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
}

/*SLIDER*/
.slider {
  --slide-width: calc(100% / var(--items));
  @apply w-full;
}
[data-slider] {
  --gap: 0;
  --items: 1;
}
.slider-container.full-width > .slider-track {
  @apply px-md md:px-xl;
}
.slider-container.full-width {
  @apply -mx-md md:-mx-xl;
}
.slider-container {
  @apply overflow-hidden;
  /* overflow: hidden; */
}
.slider-track {
  @apply flex;
  will-change: auto;
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--gap) * -1);
}
.slide {
  /* flex: 0 0 var(--slide-width); */
  min-width: var(--slide-width);
  max-width: var(--slide-width);
  padding-left: var(--gap);
}

.same-product-btn.active {
  @apply bg-btn-hover text-black;
}
.same-product-btn {
  @apply justify-center p-2 max-w-40 relative;
}

/*ADV*/
.adv-img {
  @apply absolute inset-0;
}
.adv {
  @apply sticky top-0 h-screen pt-header flex flex-col mb-lg;
  will-change: transform;
  transform: translateZ(0);
  contain: layout;
  isolation: isolate;
}
.adv-img-wrapper {
  @apply relative flex-1 overflow-hidden z-3 max-md:!w-full;
  /*width: calc(var(--spacing-wrapper) + ((100vw - var(--spacing-wrapper)) / 2 - 96px));*/
}
.adv-main {
  @apply relative flex justify-center flex-col flex-1;
}
.adv-right-progress,
.adv-decor-wrapper {
  /* @apply absolute mt-[293px] max-md:mt-[207px] top-0 rotate-90 origin-top-left; */
}
.adv-decor-wrapper {
  @apply mb-md;
}
.adv-decor {
  @apply flex font-bold text-3xl h-max will-change-transform;
}
.adv-decor p {
  @apply text-nowrap opacity-15 pr-md;
  will-change: opacity;
  transition: opacity 0.6s ease-in-out;
}
.adv-decor p.active {
  @apply opacity-100;
}
.adv-img:first-child {
  translate: 0 0;
}
.adv .adv-img {
  @apply duration-1000 transition-transform translate-y-full;
}
.adv-img:first-child {
  @apply translate-y-0;
}
.adv-img.active {
  @apply translate-y-0;
}
.adv-img img {
  @apply w-full h-full object-cover;
}
.adv-text-inner.active-0 {
  @apply translate-x-0;
}
.adv-text-content {
  @apply relative flex-1;
}
.adv-text-box {
  @apply md:bg-bg z-4 w-full -top-px left-0 pb-lg flex flex-col justify-between *:flex-1 gap-md;
}

.adv-text-inner ul:not(.active) {
  @apply opacity-0;
  transition: opacity 0.3s ease;
}
.adv-text-inner ul {
  @apply grid grid-cols-3 gap-md max-md:flex-col min-w-full;
}
.adv-text-inner li {
  @apply min-w-60 flex flex-col gap-xs;
}
.adv-text-inner {
  @apply will-change-transform flex gap-[48px] w-full;
}

.adv-text-content p {
  @apply w-full min-w-full pr-md;
  opacity: 0.2;
  transition: 0.15s ease;
}
.adv-text-content p.active {
  opacity: 1;
}

.adv-text-left {
  @apply flex-2;
}

.adv-text-left,
.adv-text-right {
  @apply flex gap-sm items-start;
}
.adv-divider {
  @apply w-5 h-px bg-black mt-2.5 flex;
}
.adv-decor-line {
  @apply left-0 top-0.5 h-6 bg-black z-2;
}
.adv-decor-line:nth-child(2) {
  @apply left-0;
}
.adv-decor-line:nth-child(3) {
  @apply left-1;
}
.adv-decor-line:nth-child(4) {
  @apply left-2;
}

.main-variants-img {
  @apply w-full h-full object-cover absolute inset-0 transition-opacity duration-1000 opacity-0;
}
.main-variants-img.active {
  @apply opacity-100;
}

.adv-right-progress {
  @apply flex justify-between h-fit py-md items-center;
}
.adv-right-progress p.active {
  @apply text-black;
}
.adv-right-progress p {
  @apply text-black/30 transition-colors duration-150;
}
.adv-right-progress p:not(.adv-right-number) {
  /* writing-mode: vertical-rl; */
}
.adv-right-number:last-child {
  @apply pr-0;
}
.adv-right-number {
  @apply text-xs p-1.25 bg-bg relative leading-[0.6];
}
.adv-right-line {
  @apply h-px bg-black ml-18;
}
footer {
  @apply bg-black pt-lg overflow-hidden relative;
}

footer:after {
  content: "";
  @apply top-0 right-0 left-0 h-20 bg-linear-to-b from-black/50 to-transparent z-1 absolute;
}

footer a,
footer p {
  @apply text-bg;
}

.catalog-wrapper {
  @apply fixed inset-0 z-11 grid;
}
.catalog-wrapper:not(.opened) {
  @apply pointer-events-none select-none opacity-0;
}

.catalog-inner {
  @apply grid grid-rows-[auto_1fr] bg-bg gap-sm py-md max-md:pb-0
 h-full max-h-screen max-md:max-h-screen max-md:pr-1 max-md:pt-3;
}

.catalog-sub-wrapper {
  @apply relative flex-1 flex flex-col md:h-full items-stretch order-2
	 overflow-hidden md:overflow-y-auto max-md:grid min-h-0;
  will-change: grid-template-rows;
  transition: all 0.3s ease;
}
.catalog-content {
  grid-template-rows: repeat(3, 1fr);
  @apply flex-1 md:grid h-full grid-cols-5 gap-2xs *:opacity-0 max-[1268px]:grid-cols-4 max-lg:grid-cols-2
 	max-md:grid-cols-1 flex flex-col max-md:overflow-y-auto max-md:overflow-x-hidden max-md:pb-lg max-md:pr-3;
}
.catalog-item {
  @apply relative flex flex-col md:gap-2 md:bg-bg2 md:p-sm md:pr-1 md:pb-0 border border-transparent transition-colors
	will-change-transform;
}
.catalog-item.with-col-span2 {
  @apply md:col-span-2;
}
/* .catalog-item.with-col-span2 .catalog-sub-menu {
  @apply flex-row;
}
.catalog-item.with-col-span2 .catalog-sub-menu a {
  @apply flex-col;
} */
.catalog-item.with-row-span2 {
  @apply md:row-span-2;
}
.catalog-item:hover {
  @apply md:border-black;
}
.catalog-item:has(.catalog-sub-wrapper.scroll-top):before {
  @apply opacity-0;
}
.catalog-item:has(.catalog-sub-wrapper.scroll-end):after {
  @apply opacity-0;
}

.catalog-item:has(.catalog-sub-wrapper.has-scroll):before,
.catalog-item:has(.catalog-sub-wrapper.has-scroll):after {
  content: "";
  @apply pointer-events-none select-none absolute bottom-0 right-0 left-0 h-lg bg-linear-to-b from-transparent to-bg2 z-4
	transition-opacity duration-300 max-md:hidden;
}
.catalog-item:has(.catalog-sub-wrapper.has-scroll):before {
  @apply bg-linear-to-t top-10 bottom-auto;
}

.catalog-item > p {
  @apply font-display md:uppercase md:font-medium md:ml-1 md:mb-0.5 max-md:py-2 max-md:pr-8 flex justify-between items-center md:inline;
}

.catalog-item > p span {
  @apply normal-case;
}
.catalog-img {
  @apply absolute inset-0 object-cover flex-1 w-full h-full min-h-0;
  display: none;
  aspect-ratio: unset !important;
}
.catalog-sub-menu {
  @apply flex-1 flex flex-col md:absolute left-0 top-0 right-0 z-3 md:pr-2.5 md:pb-3 overflow-hidden min-h-0;
}
.catalog-sub-menu a:last-child {
  @apply max-md:mb-md;
}
.catalog-sub-menu a {
  @apply flex gap-sm flex-row w-full max-md:pl-0 max-md:pr-2.5 p-0 pr-md min-h-[47px];
}
.catalog-sub-menu a.active {
  @apply flex-1;
}
.catalog-sub-menu a .svg-link {
  /*@apply pr-0 ml-0;*/
}
.catalog-sub-menu p {
  @apply leading-[1.2] py-1 flex-1;
}
.catalog-sub-img {
  @apply flex-1 m-1;
}
.catalog-sub-menu img {
  @apply max-w-12 max-h-10 object-cover;
}

#catalog-close-btn {
  @apply absolute right-1 md:right-xl top-2 md:top-4.5 font-display font-bold uppercase max-md:text-[11px];
}
.catalog-only-text {
  @apply pl-xs;
}

.catalog-item-svg {
  @apply absolute right-0 top-2.5 w-4 h-4;
}

.scroll-end-trigger,
.scroll-top-trigger {
  @apply h-px;
}
.scroll-top-trigger {
  @apply absolute bottom-0 left-0 right-0;
}
[data-modal-name="polities"] ul li p:first-child {
  @apply font-bold font-display mb-xs;
}

.accordion-wrapper,
.fake-div {
  @apply flex flex-col flex-1;
}

.accordion {
  @apply flex flex-col gap-px pl-px transition-colors;
}
.fake-div {
  @apply flex-0;
}
@keyframes ArrowDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(6px);
  }
}

.accordion-item {
  @apply grid grid-rows-[0fr];
  transition: grid-template-rows 0.3s cubic-bezier(0.1, 0.7, 0.5, 1);
}
.accordion.current .accordion-item,
.accordion.opened .accordion-item {
  @apply grid-rows-[1fr];
}
.accordion.current svg {
  @apply rotate-180;
}
.accordion-btn {
  @apply min-w-full text-lg py-4 px-8 flex justify-between max-md:leading-[1.2];
}
.accordion.current {
  @apply border-l border-black;
}

.accordion.upper {
  @apply opacity-30 border-l-0;
}
.question-heading-wrapper {
  @apply sticky h-fit flex md:flex-col gap-sm top-[40vh] max-md:[writing-mode:vertical-rl];
}
.question-heading {
  @apply flex items-center min-h-[60px] max-md:max-w-30;
}
.question-counter {
  @apply max-md:min-h-15 flex items-end;
}
.question-counter > span {
  @apply max-md:text-[16px];
}

.question-heading-line {
  @apply min-w-2 md:min-w-xl h-px flex bg-black mt-1 max-md:hidden;
}
.accordion-item p {
  @apply leading-[1.4];
}

.product-count {
  @apply flex gap-1 w-min;
}
.product-count a {
  @apply py-sm px-sm min-w-lg flex justify-center;
}
/*.product-characters > li:last-child {
	@apply border-b-0;
}*/
.product-characters > li {
  @apply py-xs;
}
.product-characters li ul li p:first-child {
  /*@apply text-black/40;*/
}
.product-characters li ul {
  @apply flex flex-col gap-sm;
}
.product-characters {
  @apply flex flex-col flex-1;
}

/* CALCULATOR */

#calc-wrapper {
  @apply mt-6 ml-6 flex flex-col;
}
.calc-base {
  @apply w-80.5 h-60 relative -mt-4.5 select-none border border-transparent transition-colors box-content;
}
.calc-base.draggable {
  @apply border-black z-2;
}
.calc-base.draggable .calc-base-item:not(.draggable) .calc-wall-height-wrapper,
.calc-base.draggable .calc-base-item:not(.draggable) .calc-action-wrapper {
  @apply hidden;
}

.drag-window {
  @apply w-fit;
}

.drag-door {
  @apply absolute w-fit;
}
.drag-door::after {
  content: "";
  @apply absolute origin-top w-1 h-[calc(100%-36px)] bg-black top-4 left-1.5 rotate-25 pointer-events-none;
}
.calc-base-border {
  @apply absolute inset-4 bg-bg;
  box-shadow:
    /* 0 0 0 1px #212529, */ 0 0 0 16px var(--color-neutral-300);
  /* 0 0 0 14px #212529; */
}
.calc-right {
  @apply p-lg pt-md pb-xl bg-bg2 flex-1 overflow-x-auto relative z-1;
}
.calc-right-wrapper {
  @apply flex-1 min-w-max;
}
.base-drag-item:hover .calc-rotate,
.base-drag-item:hover .calc-cross {
  @apply opacity-100 pointer-events-auto;
}
.calc-rotate {
  @apply absolute -right-6 top-4;
}
.calc-cross {
  @apply absolute -right-6 top-9.5;
}
.calc-cross,
.calc-rotate {
  @apply p-0.5 opacity-0 pointer-events-none transition-colors cursor-pointer;
}
.calc-base-item {
  @apply py-2 absolute w-fit cursor-grab z-3 flex items-center justify-center max-h-4 max-w-4;
}
.calc-base-item.calc-base-rotated {
  @apply py-0 px-2;
}
.calc-base-window {
  @apply relative min-h-20 min-w-4 z-2 bg-bg flex flex-col items-center;
}
.calc-base-rotated .calc-base-window {
  @apply flex-row min-w-20 min-h-4;
}
.calc-base-window-d {
  @apply w-4 h-2 bg-black;
}
.calc-base-rotated .calc-base-window-d {
  @apply h-4 w-2;
}
.calc-base-rotated .calc-base-window-c {
  @apply w-full h-0.5;
}
.calc-base-window-c {
  @apply flex-1 w-0.5 bg-black;
}
.calc-base-wall.calc-base-rotated {
  @apply min-h-4 top-auto bottom-auto left-0 right-0;
}
.calc-base-wall {
  @apply z-1 top-0 bottom-0 min-w-4;
}
.calc-base-item:hover .calc-wall-height-wrapper,
.calc-base-item:hover .calc-action-wrapper {
  @apply opacity-100 pointer-events-auto;
}
.calc-base-rotated .calc-action-wrapper {
  @apply -right-4 bottom-4 pb-0.5 top-auto left-auto flex-row-reverse;
}
.calc-base-item .calc-action-wrapper {
  @apply pointer-events-none;
}
.calc-base-rotated .calc-wall-height-wrapper {
  @apply w-[calc(100%-1px)] left-0 top-4 pt-0.5;
}
.calc-base-item.draggable .calc-wall-height-wrapper,
.calc-base-item.draggable .calc-action-wrapper {
  @apply opacity-0!;
}
.calc-base-item.draggable .calc-wall-height-wrapper,
.calc-base-item.draggable button {
  @apply select-none! pointer-events-none!;
}
.calc-base-item.changed-height .calc-wall-height-wrapper {
  @apply opacity-100!;
}
.calc-action-wrapper {
  @apply absolute opacity-0 -top-4 -left-6.5 h-min transition-opacity flex flex-col pr-0.5;
}
.calc-wall-height-wrapper {
  @apply absolute opacity-0 bottom-0 left-4 max-h-[calc(100%-1px)] top-px pl-0.5 pointer-events-none select-none cursor-auto
	flex flex-col;
}
.calc-wall-height-btn {
  @apply bg-gray-200 cursor-ns-resize! absolute bottom-0 left-px items-center;
}
.calc-base-rotated .calc-wall-height-btn:hover {
  @apply cursor-ew-resize!;
}
.calc-base-rotated .calc-wall-height-btn {
  @apply top-px right-px left-auto;
}
.calc-base-rotated .calc-wall-height-count {
  @apply rotate-0 top-0.5 left-auto right-8;
}
.calc-base-rotated .calc-base-wall-bg {
  @apply min-h-4 min-w-4;
}
.calc-base-wall-bg {
  @apply h-full bg-neutral-200 relative z-2 min-h-4 min-w-4;
}

.calc-wall-height-count {
  @apply absolute bottom-9 rotate-90 -left-2.25 pointer-events-none select-none;
}
.calc-base-item:hover .calc-wall-height-wrapper,
.calc-base-item:hover button {
  @apply pointer-events-auto select-auto;
}
.calc-base-item button {
  @apply bg-gray-200 p-1.5 w-6 h-6 pointer-events-none select-none;
}
.calc-base-svg {
  @apply h-4 w-4;
}
.calc-block-actions {
  @apply flex gap-1;
}
.calc-block-actions button {
  @apply px-2 py-2 h-8;
}
.calc-left {
  @apply sticky max-h-[calc(100vh-var(--spacing-header))] overflow-y-auto 
	overflow-x-hidden top-header flex flex-col gap-md py-md pl-xl pr-lg h-fit z-3 bg-bg;
}
.calc-left-block {
  @apply bg-btn-hover min-h-10 min-w-100;
}
.calc-arrow-top {
  @apply rotate-180;
}

.debug-helper {
  @apply absolute border-black border opacity-80;
}

.calc-wall-coords {
  @apply absolute bottom-0 left-1;
}

.calc-base-width {
  @apply absolute left-0 right-0 flex -top-12 items-center;
}
.calc-base-height {
  @apply absolute top-0 bottom-0 flex items-center origin-bottom flex-col -left-17;
}
.calc-base-height p,
.calc-base-width p {
  @apply px-sm bg-bg2;
}
.calc-base-height p {
  @apply -rotate-90;
}
.calc-base-height span,
.calc-base-width span {
  @apply flex-1 h-px bg-gray-300 flex min-w-px;
}
.calc-base-rotated .calc-base-window-text {
  @apply rotate-0 left-1/2 -translate-x-1/2;
}
.calc-base-window-text {
  @apply absolute  -left-2.5 translate-x-0 top-1/2 -translate-y-1/2 -rotate-90 leading-[0.8] text-[12px];
}
.calc-section {
  @apply min-h-screen flex flex-col pt-header max-md:hidden;
}
.calc-section .product-price-summ {
  @apply flex-col-reverse items-start md:gap-sm;
}
.product-price-summ {
  @apply flex gap-sm md:gap-md max-md:flex-col md:items-center;
}
.product-price-info-wrapper {
  @apply relative;
}
.product-calc-info-wrapper:hover .product-calc-info {
  @apply opacity-100 pointer-events-auto select-auto;
}
.product-calc-info {
  @apply min-w-100;
}
.product-calc-info .product-characters {
  @apply bg-bg border border-black px-md py-4 min-w-120;
}
.product-calc-info {
  @apply absolute right-0 left-0 pl-px top-1/2 translate-x-30 -translate-y-1/2 z-2 transition-all origin-bottom;
}

/* CALCULATOR */

.divider {
  @apply w-full min-h-px bg-black/10;
}

#modal-portal {
  @apply fixed z-6;
}
